<ion-view cache-view="false" view-title="Item">
  <ion-content>

     <div class="item">   

	
       <img src="http://maggiestcloud.com/content/images/2015/Jul/item1.png" height="400" width="400">

       <div class="block">

        	<img src="http://maggiestcloud.com/content/images/2015/Jul/speaker.png"> <img src="http://maggiestcloud.com/content/images/2015/Jul/map.png">
        	<p>A collection of items from the 2014 dig. Included 
			among them are ceramic, nails, buttons, and bone.</p>
			<hr>
		</div>    
	</div>	
  </ion-content>
</ion-view>