<ion-view view-title="Edit Profile">
  <ion-content>
    <ion-list>

<div class="profile">

   <img src="http://maggiestcloud.com/content/images/2015/Jul/profileimage.png">
   <p><i class="icon ion-edit"></i> <b>Edit</p></b>

 </div>

<div class="account">
  <p> <i class="icon ion-monitor"></i> <u>Emily MacLeod</p></u>

  <p><i class="icon ion-ios-person"></i> <u>emily_mac_leod</p></u>

    <p><i class="icon ion-flash"></i> <u><font color="#cccccc">Website</font></p></u>

   <p><i class="icon ion-chatbubble"></i> <u>I like archaeology.</p></u>

 </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
