        <div class="publicgallery">
       
        <hr>
      
        <div class="publicgallery1">

          <br><a href="#/tab/item"><img src="http://maggiestcloud.com/content/images/2015/Jul/icon1.png"></a><img src="http://maggiestcloud.com/content/images/2015/Jul/icon2.png"><img src="http://maggiestcloud.com/content/images/2015/Jul/icon3.png"><br>
          <img src="http://maggiestcloud.com/content/images/2015/Jul/icon4.png"><img src="http://maggiestcloud.com/content/images/2015/Jul/icon2.png"><img src="http://maggiestcloud.com/content/images/2015/Jul/icon3.png"><br>
          <img src="http://maggiestcloud.com/content/images/2015/Jul/icon1.png"><img src="http://maggiestcloud.com/content/images/2015/Jul/icon2.png"><img src="http://maggiestcloud.com/content/images/2015/Jul/icon3.png"><br>


  </ion-content>
</ion-view>
