        <div class="tours">
       
        <hr>
      
        <div class="app-account">

          <br><h2><img src="http://maggiestcloud.com/content/images/2015/Jul/profileimage2.png"> liked your tour <img src="http://maggiestcloud.com/content/images/2015/Jul/icon1.png"></h2>
          
           <br><h2><img src="http://maggiestcloud.com/content/images/2015/Jul/profileimage2.png"> liked your tour <img src="http://maggiestcloud.com/content/images/2015/Jul/icon1.png"></h2>

          <br><h2><img src="http://maggiestcloud.com/content/images/2015/Jul/profileimage2.png"> started following you</h2>

  </ion-content>
</ion-view>
