.tabs {
	background-color: #f00;
	color: #fff;
	height: 49px;
}

.fire {
	background-color: #ffffff;
	color: #000000;
	height: 100%;
}

.profile-button {
	width: 50%;
}

.tours {
	background-color: #A50606;
	color: #ffffff;
	height: 200%;
	font-size:38pt;
	font-weight:bold;
	font-style: avenir;
}

.publicgallery {
	
	background-color: #A50606;
	color: #ffffff;
	height: 200%;
	font-size:38pt;
	font-weight:bold;
	font-style: avenir;
}

.tours-images {
	color: #ffffff;

}

.profile {
	position:relative;
 	top:70px;
 	left:200px;

}

.account {
	position:relative;
 	top:-90px;
 	right:-20px;

}

h3 {
	color: #ffffff;
	font-size: 20px;
	bottom: 50px;
	right: 20px;
}

h2 {

	color: #ffffff;
	height: 200%;
	font-size: 15px;
	bottom: 50px;
	right: 20px;
	font-style: avenir;
}